body {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  margin: 0;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.game {
  display: flex;
  align-items: center;
  flex-direction: column;
  /*height: 100vh;*/
  padding: 30px;
}

.one-table {
  margin-bottom: 30px;
}

.game-table {
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
}

table td {
  padding: 5px 10px;
  border: 1px solid black;
}

table td.td-black {
  background-color: #000000;
  color: #ffffff;
}

.controls {
  font-size: 0;
}

button {
  padding: 10px 30px;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  background-color: #2d88ff;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
}

button:hover {
  background-color: #17a1ff;
}
